@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  --background-color: whitesmoke; 
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  background-color: var(--background-color);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  grid-gap: 1em;
  height: 400px;
}

nav {
display: flex;
align-items: center;
height: 200px;
padding: 0;
justify-content: space-between;
padding-top: 5px;
padding-left: 2%;
padding-right: 2%;
font-weight: bold;
}

ul li {
  display: inline-block;
  padding:  0px 20px;
}

@media (max-width: 375px) {
  /* CSS rules for devices with a maximum width of 375px */
}

@media (min-width: 1024px) {
  /* CSS rules for devices with a minimum width of 1024px (desktop devices) */
}

@media (min-width: 376px) and (max-width: 1023px) {
  /* CSS rules for devices with a width between 376px and 1023px (tablet devices) */
}
